@font-face {
  font-family: 'MullerBold';
  src: url('MullerBold.eot');
  src: url('MullerBold.woff2') format('woff2'),
       url('MullerBold.woff') format('woff'),
       url('MullerBold.ttf') format('truetype'),
       url('MullerBold.svg#MullerBold') format('svg'),
       url('MullerBold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

