doctype html
html
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title ProfitStar

		link(rel='stylesheet', href='css/normalize.css')
		link(rel='stylesheet', href='css/style.css')

		<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
	body
		header.header
			.container
				.header__block
					.header__left
						button.header__burger-button
							span.header__burger-button-top
							span.header__burger-button-center
							span.header__burger-button-bottom
						.header__logo
							.header__logo-big ПрофиСтар
							.header__logo-small Ателье натяжных потолков
					.header__record
						a.header__record-link(href="#") Записаться на замер
					.header__phones
						.header__phones-top +7 (391) 
							span 288-34-34
						.header__phones-bottom Принимаем звонки до <b>22:00</b>

	.nav
		.container
			.nav__block
				.nav__block-left
					ul.nav__main-list
						li.nav__main-item 
							a.nav__main-link(href="#") Глянцевые потолки
						li.nav__main-item 
							a.nav__main-link(href="#") Матовые потолки
						li.nav__main-item 
							a.nav__main-link(href="#") Потолки Металлик
						li.nav__main-item 
							a.nav__main-link(href="#") Сатиновые потолки
						li.nav__main-item 
							a.nav__main-link(href="#") Тканевые потолки
						li.nav__main-item 
							a.nav__main-link(href="#") Фактурные потолки
						li.nav__main-item 
							a.nav__main-link(href="#") Художественные потолки
						li.nav__main-item 
							a.nav__main-link(href="#") Потолки с шумоизоляцией
						li.nav__main-item 
							a.nav__main-link(href="#") Многоуровневые натяжные потолки
						li.nav__main-item 
							a.nav__main-link(href="#") Двухуровневые натяжные потолки
						li.nav__main-item 
							a.nav__main-link(href="#") Одноуровневые натяжные потолки

					ul.nav__main-list
						li.nav__main-item 
							a.nav__main-link(href="#") Фотопечать
						li.nav__main-item 
							a.nav__main-link(href="#") Натяжные стены
						li.nav__main-item 
							a.nav__main-link(href="#") Освещение для натяжных стен

				.nav__block-right
					ul.nav__main-list--small
						li.nav__main-item 
							a.nav__main-link(href="#") Монтаж
						li.nav__main-item 
							a.nav__main-link(href="#") Стоимость
						li.nav__main-item 
							a.nav__main-link(href="#") Фото
						li.nav__main-item 
							a.nav__main-link(href="#") Отзывы
						li.nav__main-item 
							a.nav__main-link(href="#") Дилерам
						li.nav__main-item 
							a.nav__main-link(href="#") 

			.nav__block
				ul.nav__main-list.nav__main-list--tel
					li.nav__main-item
						.nav__main-item-top +7 (391) 288-34-34
						.nav__main-item-bottom Заказ и консультации
					li.nav__main-item
						.nav__main-item-top +7 (391) 258-33-15
						.nav__main-item-bottom Дилерский отдел
					li.nav__main-item
						.nav__main-item-top +7 (391) 258-33-15
						.nav__main-item-bottom Дилерский отдел
				
				a.nav__main-link.nav__main-link--vk(href="#")
					img(src="img/ico/vk.png")
					.nav__main-item-bottom Мы вконтакте

			.nav__block.nav__block--contacts
				.nav__adress г. Красноярск, ул. Абытаевская 26
				.nav__mail 24potolok@mail.ru
				a.nav__feedback(href="#") Обратная связь

			form.search
				input.search__input(type="text" placeholder="Например: Натяжной потолок в ванную")
				input.search__submit(type="submit")


	.main-slider
		.container
			.main-slider__block
				.main-slider__header Бесплатный
				.main-slider__subheader выезд специалиста на замер <br> прямо сейчас!
				ul.main-slider__list
					li.main-slider__item
						.main-slider__img
							img(src="img/ico/question.png")
						.main-slider__text Консультация по установке натяжного потолка
					li.main-slider__item
						.main-slider__img
							img(src="img/ico/pen.png")
						.main-slider__text Проведение замеров помещения
					li.main-slider__item
						.main-slider__img
							img(src="img/ico/facture.png")
						.main-slider__text Помощь в подборе фактуры и цвета полотна
				a.main-slider__measurement(href="#") Записаться на замер

		.main-slider__wrapper
			.main-slider__slide
			ul.slick-dots
				li.slick-dot.active
				li.slick-dot
				li.slick-dot
				li.slick-dot

	form.calculate
		.container
			.calculate__header
				.calculate__text Расчёт стоимости натяжного потолка с установкой
			.calculate__wrapper
				.calculate__block
					.calculate__row
						lebel.calculate__label(for="area") Площадь вашего потолка:
						input.calculate__input(type="text",id="area")
					.calculate__container
						.calculate__slider
							.calculate__range
							span.calculate__dot
							span.calculate__sign-left 0
							span.calculate__sign-right 100

				.calculate__block
					.calculate__row.calculate__row--big
						.calculate__label Примерная стоимость:
					.calculate__price от 5994 <span>c</span> до 7560 <span>c</span>

				input.calculate__submit(type="submit", value="Заказать потолок")

	.projects
		.projects__wrapper
			.projects__header Примеры реализованных проектов
			.projects-item
				.projects-item__left-block
					.projects-item__subhead Натяжной потолок в 2 уровня с установкой
					ul.projects-item__stars
						li.projects-item__star
						li.projects-item__star
						li.projects-item__star
						li.projects-item__star
						li.projects-item__star
					.projects-item__price от 
						span.projects-item__number 9 700
						span.projects-item__unit c
					a.projects-item__calculation(href="#") Точный расчет за 5 минут
				.projects-item__right-block
					img(src="img/ico/pic2.png")
					.projects-item__sign С установкой
			.projects-item
				.projects-item__left-block
					.projects-item__subhead Натяжной потолок в 2 уровня с установкой
					ul.projects-item__stars
						li.projects-item__star
						li.projects-item__star
						li.projects-item__star
						li.projects-item__star
						li.projects-item__star
					.projects-item__price от 
						span.projects-item__number 9 700
						span.projects-item__unit c
					a.projects-item__calculation(href="#") Точный расчет за 5 минут
				.projects-item__right-block
					img(src="img/ico/pic2.png")
					.projects-item__sign С установкой

			.projects-item
				.projects-item__left-block
					.projects-item__subhead Натяжной потолок в 2 уровня с установкой
					ul.projects-item__stars
						li.projects-item__star
						li.projects-item__star
						li.projects-item__star
						li.projects-item__star
						li.projects-item__star
					.projects-item__price от 
						span.projects-item__number 9 700
						span.projects-item__unit c
					a.projects-item__calculation(href="#") Точный расчет за 5 минут
				.projects-item__right-block
					img(src="img/ico/pic2.png")
					.projects-item__sign С установкой
			.projects-item
				.projects-item__left-block
					.projects-item__subhead Натяжной потолок в 2 уровня с установкой
					ul.projects-item__stars
						li.projects-item__star
						li.projects-item__star
						li.projects-item__star
						li.projects-item__star
						li.projects-item__star
					.projects-item__price от 
						span.projects-item__number 9 700
						span.projects-item__unit c
					a.projects-item__calculation(href="#") Точный расчет за 5 минут
				.projects-item__right-block
					img(src="img/ico/pic2.png")
					.projects-item__sign С установкой

				a.projects__else(href="#") Смотреть другие проекты

	.share
		.container
			.share__header Цены пополам
			.share__text Второй потолок в подарок при покупке до конца месяца!
			a.share__more(href="#") Узнать подробнее

	.container
		.features
			.feature
				.feature__image
					img(src="img/features/feature-1.png", height="170")
				.feature__header Вы выигрываете в цене
				.feature__text У нас собственное производство, поэтому вы минуете цепочку посредников
			.feature
				.feature__image
					img(src="img/features/feature-2.png", height="170")
				.feature__header Вы сохраняете время
				.feature__text Потому что замер и монтаж происходит в 1 день
			.feature
				.feature__image
					img(src="img/features/feature-3.png", height="170")
				.feature__header Вам не нужно копить
				.feature__text Ведь у нас рассрочка без % и переплаты
			.feature
				.feature__image
					img(src="img/features/feature-4.png", height="170")
				.feature__header Без лишних движений
				.feature__text Ведь у нас мобильный офис и  расчет по картам

		.menu-types
			.menu-types__main-header Виды натяжных потолков
			.menu-types__main-subheader Виды потолков
			ul.menu-types__ul
				.menu-types__left-block
					li.menu-types__li
						a(href="#")
							.menu-types__header
								span Парящие
								span потолки
							img(src="img/menu-types/type-1.png")
						.menu-types__hover
							a.menu-types__link(href="#") Подробнее
							.menu-types__header.menu-types__header--hover
								span Парящие
								span потолки
					li.menu-types__li
						a(href="#")
							.menu-types__header
								span Матовые
								span потолки
							img(src="img/menu-types/type-2.png")
						.menu-types__hover
							a.menu-types__link(href="#") Подробнее
							.menu-types__header.menu-types__header--hover
								span Матовые
								span потолки
					li.menu-types__li
						a(href="#")
							.menu-types__header
								span Потолки
								span с фотопечатью
							img(src="img/menu-types/type-4.png")
						.menu-types__hover
							a.menu-types__link(href="#") Подробнее
							.menu-types__header.menu-types__header--hover
								span Потолки
								span с фотопечатью
					li.menu-types__li
						a(href="#")
							.menu-types__header
								span Многоуровневые
								span потолки
							img(src="img/menu-types/type-5.png")
						.menu-types__hover
							a.menu-types__link(href="#") Подробнее
							.menu-types__header.menu-types__header--hover
								span Многоуровневые
								span потолки
					li.menu-types__li
						a(href="#")
							.menu-types__header
								span Криволинейные
								span потолки
							img(src="img/menu-types/type-6.png")
						.menu-types__hover
							a.menu-types__link(href="#") Подробнее
							.menu-types__header.menu-types__header--hover
								span Криволинейные
								span потолки
					li.menu-types__li
						a(href="#")
							.menu-types__header
								span Тканевые
								span потолки
							img(src="img/menu-types/type-7.png")
						.menu-types__hover
							a.menu-types__link(href="#") Подробнее
							.menu-types__header.menu-types__header--hover
								span Тканевые
								span потолки
				.menu-types__right-block
					li.menu-types__li
						a(href="#")
							.menu-types__header
								span Глянцевые
								span потолки
							img(src="img/menu-types/type-3.png")
						.menu-types__hover
							a.menu-types__link(href="#") Подробнее
							.menu-types__header.menu-types__header--hover
								span Глянцевые
								span потолки
					li.menu-types__li
						a(href="#")
							.menu-types__header
								span Звездное
								span небо
							img(src="img/menu-types/type-8.png")
						.menu-types__hover
							a.menu-types__link(href="#") Подробнее
							.menu-types__header.menu-types__header--hover
								span Звездное
								span небо

	.share-two
		.container
			.share-two__wrapper
				.share-two__left
					.share-two__header Бесплатный вызов замерщика
					form.share-two__form
						.share-two__row
							input.share-two__input(type="text", placeholder="Ваш контактный телефон")
						.share-two__row
							input.share-two__submit(type="submit" value="Перезвоните мне")
					.share-two__time 9:00 - 22:00
					.share-two__weekend Без выходных
				.share-two__right
					.share-two__header Рассрочка без участия банка
					.share-two__text Натяжные потолки Вы также можете заказать в рассрочку и по кредитным условиям, которые являются самыми выгодными на потолочном рынке!
					.share-two__row
						button.share-two__submit Заказать

	.container
		.catalog
			.catalog__header Светильники для натяжных потолков
			.catalog__wrapper.catalog__wrapper--top



				.catalog__text Ультратонкие и дизайнерские светильники от компании ПрофиСтар идеально подойдут к Вашему натяжному потолку.
				a.catalog__link(href="#") Перейти в каталог
			.catalog__wrapper
				.catalog__item
					.catalog__image
						img(src="img/lamps/ft90.png")
					.catalog__item-header Светильник FT90
					.catalog__item-price 291 
						span c
				.catalog__item
					.catalog__image
						img(src="img/lamps/ft90.png")
					.catalog__item-header Светильник GX 53 квадрат хром
					.catalog__item-price 180 
						span c
				.catalog__item
					.catalog__image
						img(src="img/lamps/ft90.png")
					.catalog__item-header Светильник GX 53
					.catalog__item-price 150 
						span c
				.catalog__item
					.catalog__image
						img(src="img/lamps/ft90.png")
					.catalog__item-header Светильник GX 53 бронза
					.catalog__item-price 180 
						span c
				.catalog__item
					.catalog__image
						img(src="img/lamps/ft90.png")
					.catalog__item-header Светильник FTX 01 черный+хром ромб
					.catalog__item-price 280 
						span c
				.catalog__item
					.catalog__image
						img(src="img/lamps/ft90.png")
					.catalog__item-header Светильник FTX 01 прозрачное стекло ромб
					.catalog__item-price 280 
						span c
				.catalog__item
					.catalog__image
						img(src="img/lamps/ft90.png")
					.catalog__item-header Светильник FTX 01 золото+хром
					.catalog__item-price 291 
						span c
				.catalog__item
					.catalog__image
						img(src="img/lamps/ft90.png")
					.catalog__item-header Светильник FTX 01 жигулевское
					.catalog__item-price 291 
						span c

	.feedback-slider
		.container
			.feedback-slider__wrapper
				.feedback-slider__block
					.feedback-slider__header Нас рекомендуют друзьям!
					.feedback-slider__text Отзывы о натяжных потолках Профистар
				.feedback-slider__block
					a.feedback-slider__link(href="#") Отзывы о нас в VK

			.feedback-slider__wrapper
				.feedback-slider__slide
					.feedback-slider__image
						img(src="img/man-3.png", width="160", height="160")
					.feedback-slider__content
						.feedback-slider__title Даниил Григорьев
						.feedback-slider__text.feedback-slider__text--slide Спасибо большое за потолок, наблюдал процесс работы, делают аккуратно.
				.feedback-slider__slide
					.feedback-slider__image
						img(src="img/man-3.png", width="160", height="160")
					.feedback-slider__content
						.feedback-slider__title Даниил Григорьев
						.feedback-slider__text.feedback-slider__text--slide Спасибо большое за потолок, наблюдал процесс работы, делают аккуратно.
				.feedback-slider__slide
					.feedback-slider__image
						img(src="img/man-3.png", width="160", height="160")
					.feedback-slider__content
						.feedback-slider__title Даниил Григорьев
						.feedback-slider__text.feedback-slider__text--slide Спасибо большое за потолок, наблюдал процесс работы, делают аккуратно.
				.feedback-slider__slide
					.feedback-slider__image
						img(src="img/man-3.png", width="160", height="160")
					.feedback-slider__content
						.feedback-slider__title Даниил Григорьев
						.feedback-slider__text.feedback-slider__text--slide Спасибо большое за потолок, наблюдал процесс работы, делают аккуратно.

	.ceiling
		.ceiling__header
			.container
				.ceiling__title Глянцевые потолки
				.ceiling__subtitle Многим людям хотелось бы не просто освежить свой интерьер ремонтом, но и придать ему более современный вид. Если это желание сочетается еще и с необходимостью зрительно увеличить небольшую комнату, то глянцевые натяжные потолки могут стать примером отличного выбора.
		.container
			.ceiling__wrapper
				.ceiling__item
					img(src="img/ceiling-1.png")
				.ceiling__item
					img(src="img/ceiling-1.png")
				.ceiling__item
					img(src="img/ceiling-1.png")
				.ceiling__item
					img(src="img/ceiling-1.png")

	.container
		.content
			p Глянцевая отделка потолков - это использование в качестве натяжного потолка декоративных материалов, обладающих способностью зеркального отражения и рассеивания света. В силу своих свойств, глянцевые потолки очень распространены в оформлении интерьера офисных помещений, клубов и прочих заведений. Не менее часто они применяются и при ремонте обычных квартир.
			h3 Особенности глянцевых потолков
			b Натяжные потолки с эффектом отражения обладают целым рядом плюсов, среди которых можно перечислить основные:
			ul
				li потолки данного типа получаются очень гибкими и легкими. Это обстоятельство существенно упрощает монтаж потолков и позволяет создавать из них многоуровневые конструкции, нередко довольно сложные;
				li потолки данного типа получаются очень гибкими и легкими. Это обстоятельство существенно упрощает монтаж потолков и позволяет создавать из них многоуровневые конструкции, нередко довольно сложные;
				li потолки данного типа получаются очень гибкими и легкими. Это обстоятельство существенно упрощает монтаж потолков и позволяет создавать из них многоуровневые конструкции, нередко довольно сложные;
				li потолки данного типа получаются очень гибкими и легкими. Это обстоятельство существенно упрощает монтаж потолков и позволяет создавать из них многоуровневые конструкции, нередко довольно сложные;

			h3 Преимущества заказа потолков в "ПрофиСтар"
			p.
				Для того, чтобы установка натяжных потолков прошла быстро и в дальнейшем радовала вас безупречным качеством, выбирайте ателье натяжных потолков ПрофиСтар. Собственное производство глянцевых потолков позволяет устанавливать на них разумные цены.
				Гарантия сроком до 50лет служит залогом того, что качество потолков будет на высоте, а большой выбор расцветок позволяет подобрать потолки для любого интерьера.
				<br> <b> Замер и монтаж всего за один день - это реальность с ПрофиСтар!

		h2 Фото
		.gallery
			.gallery__wrapper
				.gallery__item
					a.gallery__link(href="#")
						.gallery__title Глянцевые
						img(src="img/gallery.png")
				.gallery__item
					a.gallery__link(href="#")
						.gallery__title Глянцевые
						img(src="img/gallery.png")
				.gallery__item
					a.gallery__link(href="#")
						.gallery__title Глянцевые
						img(src="img/gallery.png")
				.gallery__item
					a.gallery__link(href="#")
						.gallery__title Глянцевые
						img(src="img/gallery.png")
				.gallery__item
					a.gallery__link(href="#")
						.gallery__title Глянцевые
						img(src="img/gallery.png")
				.gallery__item
					a.gallery__link(href="#")
						.gallery__title Глянцевые
						img(src="img/gallery.png")
				.gallery__item
					a.gallery__link(href="#")
						.gallery__title Глянцевые
						img(src="img/gallery.png")
				.gallery__item
					a.gallery__link(href="#")
						.gallery__title Глянцевые
						img(src="img/gallery.png")

	.gallery__photos
		.container
			.gallery__wrapper.gallery__wrapper--photos
				.gallery__main-block
					.gallery__arrow-left
					img(src="img/gallery/g1.jpg")
					.gallery__arrow-right
				.gallery__thumbnails
					img(src="img/gallery/g1_small.jpg", width="270", height="127")
					img(src="img/gallery/g2_small.jpg", width="270", height="127")
					img(src="img/gallery/g3_small.jpg", width="270", height="127")
					img(src="img/gallery/g4_small.jpg", width="270", height="127")

	.container
		h2 Бесплатный вызов специалиста
		form.back-call
			.back-call__header 
				.back-call__p Хотите получить консультацию по материалам, акциям и замерам?
				.back-call__p Просто введите Ваши данные <br>и мы свяжемся с Вами в течении пяти минут!
			.back-call__row
				.back-call__item
					input.back-call__input(placeholder="Ваше имя")
				.back-call__item
					input.back-call__input(placeholder="Ваш телефон")
				.back-call__item
					input.back-call__input(placeholder="Удобное имя")
				.back-call__item
					input.back-call__submit(type="submit", value="Заказать звонок")
			.back-call__footer
				span Так же вы можете позвонить нам по номеру:
				.back-call__frow
					.back-call__fphone +7 (391) 288-34-34
					.back-call__fblock Время звонка: с 9:00 до 22:00 без выходных

	.footer
		.container
			form.search.search--footer
				input.search__input.search__input--footer(type="text" placeholder="Например: Натяжной потолок в ванную")
				input.search__submit(type="submit")
			.nav__block.nav__block--footer
				.nav__block-left
					ul.nav__main-list
						li.nav__main-item 
							a.nav__main-link.nav__main-link--footer(href="#") Глянцевые потолки
						li.nav__main-item 
							a.nav__main-link.nav__main-link--footer(href="#") Матовые потолки
						li.nav__main-item 
							a.nav__main-link.nav__main-link--footer(href="#") Потолки Металлик
						li.nav__main-item 
							a.nav__main-link.nav__main-link--footer(href="#") Сатиновые потолки
						li.nav__main-item 
							a.nav__main-link.nav__main-link--footer(href="#") Тканевые потолки
						li.nav__main-item 
							a.nav__main-link.nav__main-link--footer(href="#") Фактурные потолки
						li.nav__main-item 
							a.nav__main-link.nav__main-link--footer(href="#") Художественные потолки
						li.nav__main-item 
							a.nav__main-link.nav__main-link--footer(href="#") Потолки с шумоизоляцией
						li.nav__main-item 
							a.nav__main-link.nav__main-link--footer(href="#") Многоуровневые натяжные потолки
						li.nav__main-item 
							a.nav__main-link.nav__main-link--footer(href="#") Двухуровневые натяжные потолки
						li.nav__main-item 
							a.nav__main-link.nav__main-link--footer(href="#") Одноуровневые натяжные потолки

					ul.nav__main-list
						li.nav__main-item 
							a.nav__main-link.nav__main-link--footer(href="#") Фотопечать
						li.nav__main-item 
							a.nav__main-link.nav__main-link--footer(href="#") Натяжные стены
						li.nav__main-item 
							a.nav__main-link.nav__main-link--footer(href="#") Освещение для натяжных стен

				.nav__block-right
					ul.nav__main-list--small
						li.nav__main-item 
							a.nav__main-link.nav__main-link--footer(href="#") Монтаж
						li.nav__main-item 
							a.nav__main-link.nav__main-link--footer(href="#") Стоимость
						li.nav__main-item 
							a.nav__main-link.nav__main-link--footer(href="#") Фото
						li.nav__main-item 
							a.nav__main-link.nav__main-link--footer(href="#") Отзывы
						li.nav__main-item 
							a.nav__main-link.nav__main-link--footer(href="#") Дилерам

			.nav__block.nav__block--footer
				ul.nav__main-list.nav__main-list--tel
					li.nav__main-item
						.nav__main-item-top +7 (391) 288-34-34
						.nav__main-item-bottom.nav__main-item-bottom--footer Заказ и консультации
					li.nav__main-item
						.nav__main-item-top +7 (391) 258-33-15
						.nav__main-item-bottom.nav__main-item-bottom--footer Дилерский отдел
					li.nav__main-item
						.nav__main-item-top +7 (391) 258-33-15
						.nav__main-item-bottom.nav__main-item-bottom--footer Дилерский отдел
				
				a.nav__main-link.nav__main-link--vk(href="#")
					img(src="img/ico/vk.png")
					.nav__main-item-bottom.nav__main-item-bottom--footer Мы вконтакте

			.nav__block.nav__block--contacts.nav__block--fcontacts
				.nav__adress г. Красноярск, ул. Абытаевская 26
				.nav__mail 24potolok@mail.ru
				a.nav__feedback(href="#") Обратная связь
			.footer__block
				.footer__title Натяжные потолки © ПрофиСтар, 2010 - 2016. Официальный сайт. Копирование материалов сайта запрещено
				.footer__developer Создание и продвижение сайта 
					a.footer__link(href="#") itb-company

	form.form(id="form-question")
		.form__types
			a.form__link(href="#") Перезвоните мне
			a.form__link.active(href="#") Задать вопрос
		.form__block
			label.form__label(for="question") Вопрос
			textarea.form__text(id="question", placeholder="Что Вас интересует")
		.form__block
			label.form__label(for="name") Имя
			input.form__input(type="text", id="name", placeholder="Как к Вам обращаться")
		.form__block
			label.form__label(for="email") Электронная почта
			input.form__input(type="text", id="email", placeholder="Ваш e-mail")
		.form__block
			input.form__submit(type="submit", value="Отправить заявку")

	form.form(id="form-call")
		.form__types
			a.form__link.active(href="#") Перезвоните мне
			a.form__link(href="#") Задать вопрос
		.form__block
			label.form__label(for="phone") Телефон
			input.form__input(type="text", id="phone", placeholder="Контактный телефон")
		.form__block
			label.form__label(for="name-call") Имя
			input.form__input(type="text", id="name-call", placeholder="Как к Вам обращаться")
		.form__block
			input.form__submit(type="submit", value="Отправить заявку")