doctype html
html
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title ProfitStar

		link(rel='stylesheet', href='css/normalize.css')
		link(rel='stylesheet', href='css/style.css')

		<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
	body
		header.header
			.container
				.header__block
					.header__left
						button.header__burger-button
							span.header__burger-button-top
							span.header__burger-button-center
							span.header__burger-button-bottom
						.header__logo
							.header__logo-big ПрофиСтар
							.header__logo-small Ателье натяжных потолков
					.header__record
						a.header__record-link(href="#") Записаться на замер
					.header__phones
						.header__phones-top +7 (391) 
							span 288-34-34
						.header__phones-bottom Принимаем звонки до <b>22:00</b>

	.nav
		.container
			.nav__block
				.nav__block-left
					ul.nav__main-list
						li.nav__main-item 
							a.nav__main-link(href="#") Глянцевые потолки
						li.nav__main-item 
							a.nav__main-link(href="#") Матовые потолки
						li.nav__main-item 
							a.nav__main-link(href="#") Потолки Металлик
						li.nav__main-item 
							a.nav__main-link(href="#") Сатиновые потолки
						li.nav__main-item 
							a.nav__main-link(href="#") Тканевые потолки
						li.nav__main-item 
							a.nav__main-link(href="#") Фактурные потолки
						li.nav__main-item 
							a.nav__main-link(href="#") Художественные потолки
						li.nav__main-item 
							a.nav__main-link(href="#") Потолки с шумоизоляцией
						li.nav__main-item 
							a.nav__main-link(href="#") Многоуровневые натяжные потолки
						li.nav__main-item 
							a.nav__main-link(href="#") Двухуровневые натяжные потолки
						li.nav__main-item 
							a.nav__main-link(href="#") Одноуровневые натяжные потолки

					ul.nav__main-list
						li.nav__main-item 
							a.nav__main-link(href="#") Фотопечать
						li.nav__main-item 
							a.nav__main-link(href="#") Натяжные стены
						li.nav__main-item 
							a.nav__main-link(href="#") Освещение для натяжных стен

				.nav__block-right
					ul.nav__main-list--small
						li.nav__main-item 
							a.nav__main-link(href="#") Монтаж
						li.nav__main-item 
							a.nav__main-link(href="#") Стоимость
						li.nav__main-item 
							a.nav__main-link(href="#") Фото
						li.nav__main-item 
							a.nav__main-link(href="#") Отзывы
						li.nav__main-item 
							a.nav__main-link(href="#") Дилерам
						li.nav__main-item 
							a.nav__main-link(href="#") 

			.nav__block
				ul.nav__main-list.nav__main-list--tel
					li.nav__main-item
						.nav__main-item-top +7 (391) 288-34-34
						.nav__main-item-bottom Заказ и консультации
					li.nav__main-item
						.nav__main-item-top +7 (391) 258-33-15
						.nav__main-item-bottom Дилерский отдел
					li.nav__main-item
						.nav__main-item-top +7 (391) 258-33-15
						.nav__main-item-bottom Дилерский отдел
				
				a.nav__main-link.nav__main-link--vk(href="#")
					img(src="img/ico/vk.png")
					.nav__main-item-bottom Мы вконтакте

			.nav__block.nav__block--contacts
				.nav__adress г. Красноярск, ул. Абытаевская 26
				.nav__mail 24potolok@mail.ru
				a.nav__feedback Обратная связь

			form.search
				input.search__input(type="text" placeholder="Например: Натяжной потолок в ванную")
				input.search__submit(type="submit")


	.main-slider
		.container
			.main-slider__block
				.main-slider__header Бесплатный
				.main-slider__subheader выезд специалиста на замер <br> прямо сейчас!
				ul.main-slider__list
					li.main-slider__item
						.main-slider__img
							img(src="img/ico/question.png")
						.main-slider__text Консультация по установке натяжного потолка
					li.main-slider__item
						.main-slider__img
							img(src="img/ico/pen.png")
						.main-slider__text Проведение замеров помещения
					li.main-slider__item
						.main-slider__img
							img(src="img/ico/facture.png")
						.main-slider__text Помощь в подборе фактуры и цвета полотна
				a.main-slider__measurement(href="#") Записаться на замер

		.main-slider__wrapper
			.main-slider__slide
			ul.slick-dots
				li.slick-dot.active
				li.slick-dot
				li.slick-dot
				li.slick-dot

	form.calculate
		.container
			.calculate__header
				.calculate__text Расчёт стоимости натяжного потолка с установкой
			.calculate__wrapper
				.calculate__block
					.calculate__row
						lebel.calculate__label(for="area") Площадь вашего потолка:
						input.calculate__input(type="text",id="area")
					.calculate__container
						.calculate__slider
							.calculate__range
							span.calculate__dot
							span.calculate__sign-left 0
							span.calculate__sign-right 100

				.calculate__block
					.calculate__row.calculate__row--big
						.calculate__label Примерная стоимость:
					.calculate__price от 5994 <span>c</span> до 7560 <span>c</span>

				input.calculate__submit(type="submit", value="Заказать потолок")

	.projects
		.projects__header Примеры реализованных проектов
		.projects__wrapper
			.projects__row
				.projects-item
					.projects-item__left-block
						.projects-item__subhead Натяжной потолок в 2 уровня с установкой
						ul.projects-item__stars
							li.projects-item__star
							li.projects-item__star
							li.projects-item__star
							li.projects-item__star
							li.projects-item__star
						.projects-item__price от 
							span.projects-item__number 9 700
							span.projects-item__unit c
						a.projects-item__calculation(href="#") Точный расчет за 5 минут
					.projects-item__right-block
						img(src="img/ico/pic2.png")
						.projects-item__sign С установкой
				.projects-item
					.projects-item__left-block
						.projects-item__subhead Натяжной потолок в 2 уровня с установкой
						ul.projects-item__stars
							li.projects-item__star
							li.projects-item__star
							li.projects-item__star
							li.projects-item__star
							li.projects-item__star
						.projects-item__price от 
							span.projects-item__number 9 700
							span.projects-item__unit c
						a.projects-item__calculation(href="#") Точный расчет за 5 минут
					.projects-item__right-block
						img(src="img/ico/pic2.png")
						.projects-item__sign С установкой
			.projects__row
				.projects-item
					.projects-item__left-block
						.projects-item__subhead Натяжной потолок в 2 уровня с установкой
						ul.projects-item__stars
							li.projects-item__star
							li.projects-item__star
							li.projects-item__star
							li.projects-item__star
							li.projects-item__star
						.projects-item__price от 
							span.projects-item__number 9 700
							span.projects-item__unit c
						a.projects-item__calculation(href="#") Точный расчет за 5 минут
					.projects-item__right-block
						img(src="img/ico/pic2.png")
						.projects-item__sign С установкой
				.projects-item
					.projects-item__left-block
						.projects-item__subhead Натяжной потолок в 2 уровня с установкой
						ul.projects-item__stars
							li.projects-item__star
							li.projects-item__star
							li.projects-item__star
							li.projects-item__star
							li.projects-item__star
						.projects-item__price от 
							span.projects-item__number 9 700
							span.projects-item__unit c
						a.projects-item__calculation(href="#") Точный расчет за 5 минут
					.projects-item__right-block
						img(src="img/ico/pic2.png")
						.projects-item__sign С установкой

		a.projects__else(href="#") Смотреть другие проекты

	.banner
		.container
			.banner__header Цены пополам
			.banner__text Второй потолок в подарок при покупке до конца месяца!
			a.banner__more Узнать подробнее

	.container
		.features
			.feature
				.feature__image
					img(src="img/features/feature-1.png", height="170")
				.feature__header Вы выигрываете в цене
				.feature__text У нас собственное производство, поэтому вы минуете цепочку посредников
			.feature
				.feature__image
					img(src="img/features/feature-2.png", height="170")
				.feature__header Вы сохраняете время
				.feature__text Потому что замер и монтаж происходит в 1 день
			.feature
				.feature__image
					img(src="img/features/feature-3.png", height="170")
				.feature__header Вам не нужно копить
				.feature__text Ведь у нас рассрочка без % и переплаты
			.feature
				.feature__image
					img(src="img/features/feature-4.png", height="170")
				.feature__header Без лишних движений
				.feature__text Ведь у нас мобильный офис и  расчет по картам


