@font-face {
  font-family: 'ALSRubl';
  src: url('ALSRubl.eot');
  src: url('ALSRubl.woff2') format('woff2'),
       url('ALSRubl.woff') format('woff'),
       url('ALSRubl.ttf') format('truetype'),
       url('ALSRubl.svg#ALSRubl') format('svg'),
       url('ALSRubl.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

