body {
	font-family: 'MullerRegular';
	font-size: 15px;
}

.container {
	margin: 0 auto;
	padding: 0 15px;

	@media @extrasmall {
		width: @xs;
	}

	@media @small {
		width: @sm;
	}

	@media @medium {
		width: @md;
	}

	@media @large {
		width: @lg;
	}
}

a {
	color: #000000;
}