body {
	font-family: 'MullerRegular';
	font-size: 15px;

	color: @black;
}

.container {
	margin: 0 auto;
	padding: 0 15px;

	box-sizing: border-box;

	position: relative;

	@media @extrasmall {
		width: @xs;
	}

	@media @small {
		width: @sm;
	}

	@media @medium {
		width: @md;
	}

	@media @large {
		width: @lg;
	}
}

a {
	color: @black;
}