.calculate {
	background: #dff0fb;

	height: 100px;

	&__wrapper {
		display: flex;

		height: 100px;

		margin-left: 330px;
	}

	&__block {

		@media @large {
			margin-right: 40px;
		}

		@media @medium {
			margin-right: 20px;
		}
	}

	&__header {
		position: absolute;

		@media @large {
			top: -20px;
		}

		@media @medium {
			top: -5px;
		}
	}

	&__text {
		width: 235px;
		box-sizing: border-box;

		font-family: 'MullerBold';

		color: #ffffff;
		background: #cb0914;

		position: relative;

		@media @large {
			font-size: 20px;
			padding: 35px 10px 35px 35px;
		}

		@media @medium {
			font-size: 17px;
			padding: 25px 10px 25px 35px;
		}

		@media @small {
			font-size: 15px;
			padding: 25px 10px 25px 35px;
		}

		&::after {
			content: '';

			width: 0; 
		    height: 0;

		    position: absolute;
		    top: 0;

    		@media @large {
			    border-top: 70px solid transparent;
			    border-bottom: 70px solid transparent;
			    border-left: 70px solid #cb0914;

			    right: -70px;
			}

			@media @medium {
				border-top: 55px solid transparent;
			    border-bottom: 55px solid transparent;
			    border-left: 55px solid #cb0914;

			    right: -55px;
			}
		}
	}

	&__row {
		padding-top: 10px;

		@media @large {
			margin-bottom: 20px;
		}

		@media @medium {
			margin-bottom: 20px;
		}

		&--big {
			padding-top: 20px;

			margin-bottom: 10px;
		}
	}

	&__label {
		font-family: 'MullerLight';

		@media @large {
			font-size: 16px;
			margin-right: 32px;
		}

		@media @medium {
			font-size: 14px;
			margin-right: 0;
		}
	}

	&__input {
		box-sizing: border-box;

		border: 1px solid #c4d8e7;
		border-radius: 3px;

		@media @large {
			height: 36px;
			width: 70px;

			padding-left: 17px;
		}

		@media @medium {
			padding-left: 0;
			text-align: center;

			height: 26px;
			width: 43px;
		}
	}

	&__slider {
		width: 100%;
		height: 5px;

		background: #c4d8e7;

		position: relative;
	}

	&__range {
		height: 100%;
		width: 65%;

		background: #cb0914;

		position: absolute;
		left: 0%;
	}

	&__dot {
		height: 12px;
		width: 12px;

		background: #1b91e3;
		border-radius: 50%;
		border: 6px solid #ffffff;

		position: absolute;
		top: -10px;
		left: 65%;
	}

	&__sign-left {
		position: absolute;
		top: 10px;
		left: 0;
	}

	&__sign-right {
		position: absolute;
		top: 10px;
		right: 0;
	}

	&__price {
		font-family: 'MullerBold';

		height: 40px;
		box-sizing: border-box;

    	border-left: 3px solid #cb0914;

		padding-top: 8px;
    	padding-left: 13px;

    	& > span {
    		font-family: 'ALSRubl';
    	}
	}

	&__submit {
		display: inline-block;
		align-self: center;

		font-family: 'MullerBold';

		background: #cb0914;

		border: none;
		border-radius: 25px;

		color: @white;

		@media @large {
			font-size: 20px;

			padding: 10px 50px;
		}

		@media @medium {
			font-size: 17px;

			padding: 10px 30px;
		}
	}

}