.projects {
	margin-bottom: 90px;

	position: relative;

	&__wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		border: 3px solid @blue;

		padding: 40px 35px;
	}

	&__row {
		display: flex;

		&:not(:last-child) {
			margin-bottom: 30px;
		}
	}

	&__header {
		font-family: 'MullerBold';
		font-size: 30px;

		position: absolute;
	    top: -28px;
	    left: 30px;

    	background: @white;

    	padding-left: 15px;
    	padding-right: 15px;
	}

	&-item {
		display: flex;

		&:nth-child(odd) {
			margin-right: 10px;
		}

		&__left-block {
			width: 260px;
			height: 220px;
			box-sizing: border-box;
    
			background: @blue;

			padding: 15px;
		}

		&__subhead {
			font-family: 'MullerBold';
			font-size: 20px;

			margin-bottom: 35px;	
		}

		&__stars {
			padding: 0;
			margin: 0;
			margin-bottom: 11px;

			list-style: none;
		}

		&__star {
			display: inline-block;

			width: 17px;
			height: 17px;

			background: url("../img/ico/star.png") no-repeat 0 0;

			margin-right: 5px;
		}

		&__price {
			line-height: 11px;

			margin-bottom: 28px;
		}

		&__number {
			font-family: 'MullerBold';
			font-size: 25px;
		}

		&__unit {
			font-family: 'ALSRubl';
			font-size: 25px;
		}

		&__calculation {
			text-decoration: none;
			font-size: 14px;

			padding: 10px 12px;

			border: 2px solid @red;
		}

		&__right-block {
			position: relative;

			& > img {
				width: 100%;
				height: auto;
			}
		}

		&__sign {
			    font-family: 'MullerBold';
    			font-size: 16px;

    			color: @white;
    			background: #2793dd;

    			border-top-left-radius: 3px;
    			border-bottom-left-radius: 3px;

    			padding: 14px 25px;

    			position: absolute;
    			top: 20px;
    			right: 0;
		}
	}

	&__else {
		font-family: 'MullerBold';
		font-size: 16px;
		text-decoration: none;

		border: 3px solid @blue;
		border-radius: 25px;
		background: @white;

		padding: 13px 25px;

		position: absolute;
		left: 50%;
		bottom: -25px;

		margin-left: -125px;
	}
}